name: GitHub Actions Example
on: [pull_request]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        
      - name: Echo GitHub event name
        run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
        
      - name: Echo runner OS
        run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
        
      - name: Echo branch name and repository
        run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
        
      - name: Echo repository cloned
        run: echo "The ${{ github.repository }} repository has been cloned to the runner."
        
      - name: Echo workflow status
        run: echo "The workflow is now ready to test your code on the runner."
        
      - name: List files in the repository
        run: ls ${{ github.workspace }}
        
      - name: Echo job status
        run: echo "This job's status is ${{ job.status }}."
